.signupform {
  margin: 0 auto;
  width: 50%;
  background-color: #18b7b7;
  padding: 20px;
  border-radius: 10px;
}
.form-section {
  background-color: #3c8ba8;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.textsection {
  font-size: 2px;
  text-align: left;
  text-decoration-color: rgb(10, 40, 40);
  text-decoration: dotted;
  color: rgba(0, 0, 0, 0.536);
}
