.signupform {
  margin: 0 auto;
  width: 50%;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
}
.form-section {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
}
.textsection {
  text-align: left;
  text-decoration-color: rgb(10, 40, 40);
  color: rgba(0, 0, 0, 0.536);
}
.form-sections{
  text-align: center;
}

.button {
  padding: 10px 20px; 
  font-size: 16px;
  border: none; 
  border-radius: 5px; 
  background-color: #007bff;
  color: #ffffff; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.button:hover {
  background-color: #0056b3; 
}

.backbutton {
  padding: 10px 20px; 
  font-size: 16px;
  border: none; 
  border-radius: 5px; 
  background-color: #007bff;
  color: #ffffff; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  position: absolute;
  top: 10px;
  right: calc(50% - 600px);
}

.backbutton:hover {
  background-color: #0056b3; 
}
