.App {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  padding: 20px;
  text-align: center;
  text-transform: capitalize;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
